working_reader.json
[
    {
        "id": "5b26a23d.a8a06c",
        "type": "tab",
        "label": "Modbus Server Reading",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e0e8e21c.f917b",
        "type": "modbus-read",
        "z": "5b26a23d.a8a06c",
        "name": "Automatic Read FC3",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "530",
        "quantity": "10",
        "rate": "8",
        "rateUnit": "s",
        "delayOnStart": true,
        "startDelayTime": "2",
        "server": "55065e509653a744",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "1d537db5.0353fa"
            ],
            [
                "eba31f91.af43a",
                "4118dde8.6df054"
            ]
        ]
    },
    {
        "id": "eba31f91.af43a",
        "type": "modbus-response",
        "z": "5b26a23d.a8a06c",
        "name": "",
        "registerShowMax": "20",
        "x": 470,
        "y": 140,
        "wires": []
    },
    {
        "id": "1d537db5.0353fa",
        "type": "debug",
        "z": "5b26a23d.a8a06c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 450,
        "y": 60,
        "wires": []
    },
    {
        "id": "4118dde8.6df054",
        "type": "debug",
        "z": "5b26a23d.a8a06c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 430,
        "y": 100,
        "wires": []
    },
    {
        "id": "a865fbaf.367808",
        "type": "comment",
        "z": "5b26a23d.a8a06c",
        "name": "Modbus Server",
        "info": "These nodes are to write to the Modbus Server.",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "387fc05e.ba7838",
        "type": "modbus-queue-info",
        "z": "5b26a23d.a8a06c",
        "name": "Server Client Queue",
        "topic": "",
        "unitid": "1",
        "queueReadIntervalTime": "1000",
        "lowLowLevel": 25,
        "lowLevel": 75,
        "highLevel": 150,
        "highHighLevel": 300,
        "server": "352955bb.be6e6a",
        "errorOnHighLevel": false,
        "showStatusActivities": true,
        "updateOnAllQueueChanges": false,
        "updateOnAllUnitQueues": false,
        "x": 1400,
        "y": 80,
        "wires": [
            [
                "6e288031.0f3bb"
            ]
        ]
    },
    {
        "id": "6e288031.0f3bb",
        "type": "debug",
        "z": "5b26a23d.a8a06c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1590,
        "y": 80,
        "wires": []
    },
    {
        "id": "55065e509653a744",
        "type": "modbus-client",
        "name": "wago",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.1.11",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "352955bb.be6e6a",
        "type": "modbus-client",
        "name": "Modbus Server",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "127.0.0.1",
        "tcpPort": "14502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    }
]
